<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <input type="hidden" id="livro-para-excluir">
    <input type="hidden" id="nome-livro-para-excluir">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Excluir livro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o livro "<b><span class="titulo-livro"></span></b>"?
            </div>uste
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <a id="acao-exclusao" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>